---
layout: default
---

<h1><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h1>
{% for image in page.images %}
    <div class="gallery-image-wrapper">
        <a name="{{ image.image }}"></a>
        <a href="{{ image.image }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
            <img class="gallery-image" src="thumbs/{{ image.image }}" alt="" {% if image.model != nil %} title="{{ image.model }} {{ image.exposure }} f{{ image.aperture }}" {% endif %}/>
        </a>
        <p>{{ image.caption }}</p>
    </div>
{% endfor %}
